* {
    margin: 0;
    padding: 0;
    background-color: rgb(194, 210, 221);
    border: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    
    font-size: 54px;
    padding: 40px;
    display: flex;
    justify-content: center;
    
}


button {
    background-color: rgb(83, 34, 42);
    color: white;
    margin: 10px;
    width: 100px;
    height: 30px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 4px;
    
}

input {
    margin: 10px;
    width: 300px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid grey;
    display: flex;
    justify-items: center;
}

#sum-el {
    font-size: 32px;
    padding: 10px;
    display: flex;
    justify-items: center;
}